<form action="/api/sessions/sessionlogin" method="POST" enctype="application/x-www-form-urlencoded">
    <legend>Inicia sesión para continuar</legend>
   
    <input type="mail" placeholder="email" name="email">
    <input type="password" placeholder="password" name="password">
    
    <input type="submit" value="Ingresar">
    <p>{{error}}</p>
</form>

<a href="/api/sessions/github">Ingresar con github</a>