<div class="mt-8 mx-auto max-w-md">
    <div class="bg-white py-8 px-4 shadow">
        <form class="space-y-5"  method="POST" enctype="application/x-www-form-urlencoded">
       
            <label class="block text-sm uppercase text-gray-500 mb-2 font-bold">Ingresar Password nuevo</label>
            <input  class="w-full px-3 py-2 border border-gray-300 border rounded-md placeholder-gray-400"type="password" placeholder="password" name="password" required>
             <label class="block text-sm uppercase text-gray-500 mb-2 font-bold">Repetir Password</label>
            <input  class="w-full px-3 py-2 border border-gray-300 border rounded-md placeholder-gray-400"type="password" placeholder="password" name="repited" required>

            <input class="w-full bg-blue-600 rounded-lg hover:bg-blue-700 text-white font-bold py-3 cursor-pointer"  type="submit" value="Ingresar">
            {{#if error}}
            <p class="border uppercase bg-red-500 rounded-md text-center text-white p-1 font-bold">{{error}}</p>
           {{/if}}
        </form>
        
    </div>

</div>