<h3>Perfil</h3>


<p><b>Nombre:</b> {{user.first_name}}</p>
<p><b>Apellido:</b> {{user.last_name}}</p>
<p><b>Edad:</b> {{user.age}}</p>
<p><b>Email:</b> {{user.email}}</p>
{{#if isAdmin}}
    <p><b>Rol:</b> Admin</p>
{{/if}}

<a href="/api/users/logout">Cerrar Sesión</a>




