<div class="mt-8 mx-8 max-w-md">
<div class="shadow border-grey p-5 ">
<h3 class="font-extrabold text-4xl">Perfil</h3>


<p class="font-bold text-xl my-2">Nombre:  <span class="font-normal">{{user.first_name}}</span></p>
<p class="font-bold text-xl my-2">Apellido:  <span class="font-normal">{{user.last_name}}</span></p>
<p class="font-bold text-xl my-2">mail: <span class="font-normal">{{user.email}}</span></p>
{{#if isAdmin}}
    <p class="font-bold text-xl my-2">Rol: <span class="font-normal">{{user.rol}}</span></p>
{{/if}}

<a class="block text-center  rounded-xl border bg-red-700 text-white p-1 mt-10 hover:bg-red-600"  href="/api/users/logout">Cerrar Sesión</a>
</div>
</div>
