

<form action="/api/users" method="POST" enctype="application/x-www-form-urlencoded">
    <legend>Formulario de registro</legend>
    <input type="text" placeholder="nombre" name="first_name">
    <input type="text" placeholder="apellido" name="last_name">
    <input type="mail" placeholder="email" name="email">
    <input type="password" placeholder="password" name="password">
    <input type="number" placeholder="age" name="age">
    <input type="submit" value="Registrarse">
</form>

