h1 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;

}

.img {
    border: 2px solid black;
    width: 200px;
    height: 200px;
    object-fit:contain;
  
    
}

.legend {
    text-align: center;
    display: block;
    width: 100%;
}

.div_form {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;

}

.form {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    gap: 5px;
}
.form-input{
    text-align: center;
    
    border-radius: 15px;
}