<header>
        <a href="/products">Productos</a>
        <a href="/realtimeproducts">Actualización de productos</a>
        <a href="/chat">Nuestro chat</a>
       
        <a href="/login">Iniciar sesión</a>
        <a href="/register">Ingresar</a>
        
         
        <a href="/profile">Mi perfil</a>
        
</header>