<header>

        <nav class="bg-blue-900 flex p-12">
                <ul class="flex w-2/3 gap-10">
                        <li> <a class="text-3xl font-bold text-white" href="/products">Productos</a></li>
                        <li><a class="text-3xl font-bold text-white" href="/realtimeproducts">Actualización de
                                        productos</a></li>
                        <li> <a class="text-3xl font-bold text-white" href="/chat">Chat</a></li>
                </ul>
                <ul class="flex w-1/3 gap-10">
                        {{#if user}}
                        <li> <a class="text-3xl font-bold text-white" href="/profile">Hola {{user.first_name}}</a></li>
                        <li> <a class="text-3xl font-bold text-white" href="/api/sessions/logout">Cerrar sesión</a></li>
                        {{else}}
                        <li><a class="text-3xl font-bold text-white" href="/login">Iniciar sesión</a></li>
                        <li> <a class="text-3xl font-bold text-white" href="/register">Ingresar</a></li>

                        {{/if}}
                </ul>

        </nav>
















</header>

{{!-- <a class="text-3xl font-bold text-white" href="/profile">Mi perfil</a> --}}